<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (products.length > 0) { %>
                <ul class="cart__item-list">
                    <% products.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                            
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                  <h2>Total: <%= totalSum %></h2>
                </div>
                <div class="centered">
                  <button id="btn-order" class="btn">Order</button>
                  <script src="https://js.stripe.com/v3/"></script>
                  <script>
                    const stripe = Stripe('pk_test_51OmTYfKbnEWsy4ldG00epCMn3Wn0QpZ33qLzw0y3IM30ecKGByY4QryVXK9faMNO8pgkqjSHlfTyOdsTUS46v2vr00z5nR4oAK');
                    const orderBtn = document.getElementById('btn-order');
                    orderBtn.addEventListener('click', function(){
                      stripe.redirectToCheckout({
                        sessionId: '<%= sessionId %>'
                      })
                    })
                  </script>
                </div>
                
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>